@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "NerdFont";
	src: url("fonts/JetBrainsMonoNerdFont-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

body {
	margin: 0;
	font-family: 'NerdFont', monospace;
	font-weight: bold;
	font-style: normal;
	background-repeat: no-repeat;
	background-size: contain;
}

main {
    padding-inline: 18px;
}

button {
	padding: 10px 20px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	font-family: 'NerdFont', monospace;
	font-weight: bold;
	font-style: normal;
	transition: transform 0.1s ease-in-out;
}

a:hover > button.move-left {
	transform: translateX(-40px);
}

a:hover > button.move-right {
	transform: translateX(40px);
}

a:hover > button.move-up {
	transform: translateY(-15px);
}

a:hover > button.move-down {
	transform: translateY(15px);
}

.banner-buttons-left {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

p {
	font-size: 20px;
	padding-left: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	font-family: 'NerdFont', monospace;
}

.header {
	padding-left: 16px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px 5px 0px 0px;
	font-family: 'NerdFont', monospace;
}

.header,
p.news,
p.about {
	max-width: 43.45%;
}

.header {
	margin-bottom: 0px;
}

p.about,
p.news {
	margin-top: 0px;
	border-radius: 0px 0px 5px 5px;
}

p.about,
p.news,
p.align-me {
	text-align: center;
}

mark {
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
}

.hide_me {
	display: none;
	visibility: hidden;
}

.banner {
	position: relative;
	display: flex;
	background-color: red;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	gap: 20px;
}

.banner h1 {
    margin: 0;
}

.banner-button {
    position: absolute;
    right: 5px;
}
