:root {
    --background-color: #002B36;
    --foreground-color: #EEE8D5;
    --element-background-color: #073642;
    --element-background-lighter-color: #113d49;
    --hue-background-color: #586E75;
    --hue-foreground-color: #FDF6E3;
    --link-color: #2AA198;
    --selection-background-color: #2AA198;
    --selection-foreground-color: #002B36;
}
