@import url('themes/gruvbox_dark.css');

@font-face {
  font-family: "NerdFont";
  src: url("fonts/JetBrainsMonoNerdFont-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NerdFont";
  src: url("fonts/JetBrainsMonoNerdFont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NerdFont";
  src: url("fonts/JetBrainsMonoNerdFont-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NerdFontMono";
  src: url("fonts/JetBrainsMonoNerdFontMono-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NerdFontMono";
  src: url("fonts/JetBrainsMonoNerdFontMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NerdFontMono";
  src: url("fonts/JetBrainsMonoNerdFontMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
    color: var(--foreground-color);
    font-family: "NerdFont";
}

body {
    background-color: var(--background-color);
    padding: 10px 50px 0px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
    background-color: var(--element-background-color);
    border-radius: 10px;
    padding: 16px 20px 16px 20px;
}

table {
    margin-top: 20px;
}

tr {
    background-color: var(--hue-background-color);
}

th {
    color: var(--hue-foreground-color);
}

td {
    background-color: var(--element-background-color);
    padding: 6px 10px 6px 10px;
}

code {
    background-color: var(--hue-background-color);
    color: var(--hue-foreground-color);
    font-weight: bold;
    font-family: "NerdFontMono";
    border-radius: 5px;
    padding: 1px 4px 1px 4px;
}

a {
    color: var(--link-color);
}

.title,
.hide_me {
    display: none;
    visibility: hidden;
}
