:root {
    --background-color: #252C32;
    --foreground-color: #D3C6AA;
    --element-background-color: #2D353B;
    --element-background-lighter-color: #343c42;
    --hue-background-color: #3A515D;
    --hue-foreground-color: #94d1c9;
    --link-color: #7FBBB3;
    --selection-background-color: #94d1c9;
    --selection-foreground-color: #252C32;
}
