* {
    color: #D3C6AA;
}

body {
    background-color: #252C32;
    padding: 10px 50px 0px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    background-color: #2D353B;
    border-radius: 10px;
    padding: 16px 20px 16px 20px;
}

table {
    margin-top: 20px;
}

tr {
    background-color: #3A515D;
}

td {
    background-color: #2D353B;
    padding: 6px 10px 6px 10px;
}

code {
    background-color: #3A515D;
    border-radius: 5px;
    padding: 1px 4px 1px 4px;
}

a {
    color: #7FBBB3;
}

.title,
.hide_me {
    display: none;
    visibility: hidden;
}
