body {
	background-image: url("background-dark.png");
	background-color: #1d2327;
	color: #d3c6aa;
}

button {
	background-color: #778f52;
	color: #2d353b;
	border-bottom: 8px solid #5d743e;
}

button:hover {
	background-color: #92ab6c;
	border-bottom: 8px solid #788f57;
}

p {
	background-color: #2d353b;
	border-bottom: 8px solid #252c32;
}

.welcome {
	background-color: #384046;
	border-bottom: 8px solid #30373d;
}
