:root {
  --bg0_h:                      #1d2021;
  --bg0:                        #282828;
  --bg0_alt:                    #323232;
  --bg0_alt_shadow:             #292929;
  --bg1:                        #3c3836;
  --bg1_shadow:                 #332f2d;
  --bg2:                        #504945;
  --fg1:                        #ebdbb2;
  --aqua_dark:                  #689d6a;
  --aqua_dark_shadow:           #518554;
  --aqua_light:                 #8ec07c;
  --aqua_light_shadow:          #76a765;
  --aqua_alt:                   #afe29c;
  --aqua_alt_shadow:            #39443a;
}

body {
	background-color: var(--bg0_h);
	color: var(--fg1);
}

button {
	background-color: var(--aqua_dark);
	color: var(--bg0);
	border-bottom: 8px solid var(--aqua_dark_shadow);
}

button:hover {
	background-color: var(--aqua_light);
	border-bottom: 8px solid var(--aqua_light_shadow);
}

p {
	background-color: var(--bg0_alt);
	border-bottom: 8px solid var(--bg0_alt_shadow);
}

.welcome > hgroup > h1,
.header {
	background-color: var(--bg2);
	color: var(--fg1);
}


mark {
	background-color: var(--aqua_alt_shadow);
	color: var(--aqua_alt);
}

.banner {
	background-color: var(--bg1);
	border-bottom: 8px solid var(--bg1_shadow);
}
