body {
	background-image: url("background-dark.png");
	background-color: #1d2021;
	color: #ebdbb2;
}

button {
	background-color: #689d6a;
	color: #282828;
	border-bottom: 8px solid #518554;
}

button:hover {
	background-color: #8ec07c;
	border-bottom: 8px solid #76a765;
}

p {
	background-color: #323232;
	border-bottom: 8px solid #292929;
}

.welcome {
	background-color: #3c3836;
	border-bottom: 8px solid #332f2d;
}
