body {
	background-color: #ffffdb;
	color: #282828;
}

body:not(.no-oglo) {
	background-image: url("background-light.png");
}

button {
	background-color: #26788a;
	color: #282828;
	border-bottom: 8px solid #076678;
}

button:hover {
	background-color: #458588;
	border-bottom: 8px solid #327376;
}

p {
	background-color: #d5c4a1;
	border-bottom: 8px solid #c1b18e;
}

.header {
	background-color: #ebdbb2;
	color: #282828;
}

/* mark */

.banner {
	background-color: #d0c1a5;
	border-bottom: 8px solid #bdae93;
}
