:root {
    --background-color: #191724;
    --foreground-color: #e0def4;
    --element-background-color: #26233a;
    --element-background-lighter-color: #2c2941;
    --hue-background-color: #403d52;
    --hue-foreground-color: #c4a7e7;
    --link-color: #31748f;
    --selection-background-color: #c4a7e7;
    --selection-foreground-color: #26233a;
}
